@model WebApp_Album.Models.Photo

    <div class="col-sm-3">
        <img src="@Model.thumbnailUrl" />
        <br />
        <div class="a" style="width:145px">
            <label style="text-wrap:normal">@Model.title</label>
        </div>
        <br />
        <br />
    </div>
