@model System.Web.Mvc.HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <br />
    <br />
    <hgroup>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        <h3 class="text-danger">Info: @Model.Exception.Message</h3>
    </hgroup>
    <br />
</body>
</html>
